/* General resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color:#333;
    color: blue;
    padding: 20px 0;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
  }
  
  header p {
    font-size: 1.2em;
  }
  
  nav {
    background-color: #444444;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: violet;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 40px 0;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .project {
    background-color:#313b1d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
  
  .project h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: greenyellow;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    font-size: 1em;
  }